<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_DIR">/logs</Property>
    <Property name="ARCHIVE">/logs/archive</Property>
    <Property name="PATTERN">%-5level %d - %c{2} - %M(%L) - %m%n</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
       <PatternLayout pattern="${PATTERN}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
